body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/registration\ img.jpg'); /* Replace 'background-image.jpg' with your image path */
    background-size: auto;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 500px; /* Limit width for better readability */
  }
  
  .form-container img {
    width: 20%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    padding: 10px;
    margin-top: 5px;
    border: 10px solid #ccc;
    border-radius: 20px;
  }
  
  .form-group .gender-checkbox {
    display: flex;
    align-items: center;
  }
  
  .form-group .gender-checkbox input[type="radio"] {
    margin-right: 5px;
  }
  
  .linked-button {
    display: inline-block;
    padding: 30px 50px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: none; /* Remove border */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .linked-button:hover {
    background-color: #0056b3;
  }
  
  .linked-button:active {
    transform: translateY(1px);
  }
  h1{
    text-align: center;
    color: red;
  }